<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:P="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Actor Database</title>
</h:head>
<h:body>
    <h1 align="center">Actor Database</h1>
    <div align="center">
        <p:commandButton value="Switch To TV Series Database" action="tvdb.xhtml"  process="@this"/><br/>
        <p:commandButton value="Switch to Movie Database" action="index.xhtml"  process="@this"/>
    </div>

    <h:form>

        <p:dataTable var="actor" value="#{actorManagedBean.actorList}" paginator="true"
                     reflow="true" rows="5" rowsPerPageTemplate="5,10,20">
            <p:column headerText="Name" filterBy="#{actor.name}" filterMatchMode="contains"
                      sortBy="#{actor.name}">
                <h:outputText value="#{actor.name}"/>
            </p:column>
            <p:column headerText="Role" filterBy="#{actor.role}" filterMatchMode="contains"
                      sortBy="#{actor.role}">
                <h:outputText value="#{actor.role}"/>
            </p:column>
            <p:column headerText="Delete">
                <p:growl id="growl" life="2000"/>
                <p:commandButton value="Delete" update="growl @form" action="#{actorManagedBean.delete(actor.id)}"
                                 actionListener="#{actorManagedBean.deleteButton}"  process="@this">
                    <p:confirm header="Confirmation" message="Delete #{actor.name}?"/>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                    </p:confirmDialog>
                </p:commandButton>
            </p:column>
            <p:column headerText="Modify">
                <p:commandButton action="#{actorManagedBean.selectActor(actor.id)}" update="@form" value="Update"
                                   process="@this"/>
            </p:column>

        </p:dataTable>
        <div align="center">
            <p:panelGrid id="add" columns="2">
                <h:outputText value="Name"/>
                <p:inputText id="name" value="#{actorManagedBean.selectedActor.name}"
                             placeholder="e.g. Martin Freeman"/>

                <h:outputText value="Role"/>
                <p:inputText id="role" value="#{actorManagedBean.selectedActor.role}" placeholder="e.g. Bilbo Baggins"/>

            </p:panelGrid>
            <p:growl id="growl2" life="2000"/>
            <p:commandButton value="Save" action="#{actorManagedBean.save(actorManagedBean.selectedActor)}"
                             update="growl2 @form" actionListener="#{actorManagedBean.saveButton}" validateClient="true"/>
        </div>


    </h:form>
</h:body>
</html>