<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:P="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>TV Series Database</title>
</h:head>
<h:body>
    <h1 align="center">TV Series Database</h1>
    <div align="center">
        <p:commandButton value="Switch to Movie Database" action="index.xhtml" process="@this"/><br/>
        <p:commandButton value="Switch To Actor Database" action="actor.xhtml" process="@this"/>

    </div>
    <h:form>
        <p:dataTable id="seriesTable" value="#{TVSeriesManagedBean.seriesList}" var="series" paginator="true" rows="10"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,100">

            <p:column headerText="Title" sortBy="#{series.title}" filterBy="#{series.title}" filterMatchMode="contains">
                <P:outputText value="#{series.title}"/>
            </p:column>

            <p:column headerText="Release Date" sortBy="#{series.releaseDate}" filterBy="#{series.releaseDate}"
                      filterMatchMode="contains">
                <P:outputText value="#{series.releaseDate}">
                    <f:convertDateTime pattern="YYYY-MM-DD"/>
                </P:outputText>
            </p:column>

            <p:column headerText="Rating" sortBy="#{series.rating}" filterBy="#{series.rating}"
                      filterMatchMode="contains">
                <p:rating value="#{series.rating}" readonly="true"/>
            </p:column>

            <p:column headerText="Number of Seasons" sortBy="#{series.seasons}" filterBy="#{series.seasons}"
                      filterMatchMode="contains">
                <P:outputText value="#{series.seasons}"/>
            </p:column>
            <p:column headerText="Delete">
                <p:growl id="growl" life="2000"/>
                <p:commandButton value="Delete" action="#{TVSeriesManagedBean.delete(series.id)}" update="growl @form"
                                 actionListener="#{TVSeriesManagedBean.deleteButton}" process="@this">
                    <p:confirm header="Confirmation" message="Delete #{series.title}?"/>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                    </p:confirmDialog>
                </p:commandButton>
            </p:column>
            <p:column headerText="Modify">
                <p:commandButton value="Modify" action="#{TVSeriesManagedBean.modify(series.id)}" update="@form" process="@this"/>
            </p:column>
        </p:dataTable>
        <div align="center">
            <p:panelGrid columns="4">

                <h:outputText value="Title"/>
                <p:inputText id="Title" value="#{TVSeriesManagedBean.selectedSeries.title}"
                             placeholder="e.g The Office"/>

                <h:outputText value="Release Date"/>
                <p:calendar id="date" value="#{TVSeriesManagedBean.selectedSeries.releaseDate}" mask="9999-99-99"
                            pattern="yyyy-mm-dd"/>

                <h:outputText value="Rating"/>
                <p:rating id="Rating" value="#{TVSeriesManagedBean.selectedSeries.rating}" stars="5"/>

                <h:outputText value="Number of Seasons"/>
                <p:inputText id="Seasons" value="#{TVSeriesManagedBean.selectedSeries.seasons}"
                            />

            </p:panelGrid>
            <p:growl id="growl2" life="2000"/>
            <p:commandButton value="Save" action="#{TVSeriesManagedBean.save(TVSeriesManagedBean.selectedSeries)}"
                             update="@form" actionListener="#{TVSeriesManagedBean.saveButton}" validateClient="true"/>

        </div>
    </h:form>
</h:body>
</html>